body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
padding: 0;
box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App div{
  text-align: center;
  height: 200px;

}
body{
  background: rgb(231, 227, 227);
}
img{
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
  margin: 0 auto;
}
.image{
  display: grid;
  align-items: center;
  justify-content: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}